body, html, h1, h2, h3, h4, h5, h6, p, canvas, div, footer, header {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    background-color: #FFFCC2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

#yarn-ball {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
}

@font-face {
    font-family: 'Patchwork';
    src: url('./fonts/2d/Patchwork\ Stitchlings\ Color.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/2d/raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'RalewayThin';
    src: url('./fonts/2d/raleway/Raleway-Thin.ttf');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('./fonts/2d/raleway/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'RalewayMedium';
    src: url('./fonts/2d/raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'RalewayExtraBold';
    src: url('./fonts/2d/raleway/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: 'RalewayItalic';
    src: url('./fonts/2d/raleway/Raleway-Italic.ttf');
}

.blur {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(25px);
    background-color: #11152893;
    z-index: 2;
}

.panel {
    color: #ECECE9;
    position: absolute;
    left: 10%;
    right: 10%;
    height: 85vh;
    background-color: #f39141cb;
    border: solid #ECECE9 0.3rem; 
    padding: 1% 2%;
    box-shadow: 10px 15px 5px #030303;
    z-index: 1;
    text-shadow: -2px 2px 2px #03030363;
}

.panel-body {
    text-align: justify;
    overflow: auto;
    height: 80%;
    width: 94%;
    z-index: 0;
    padding: 1% 4%;
}

.panel-body p {
    font-size: 1.6rem;
    font-family: 'RalewayThin';
    text-align: right;
}

.panel-body h1, .panel-body h2, .panel-body h3, .panel-body h4, .panel-body h5, .panel-body h6 {
    font-family: 'RalewayBold';
    line-height: 2rem;
    text-align: left;
    margin-bottom: 20px;
}

.card3 {
    width: 33.3%;
    padding: 0% 2% 20px 2%;
    height: 100%;
}

.card4 {
    width: 25%;
    padding: 0% 2% 20px 2%;
    height: 100%;
}

.card6 {
    width: 16.67%;
    padding: 0% 1% 20px 1%;
    height: 100%;
}

.card6 img {
    box-shadow: -2px 2px 3px #030303;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.2rem;
}

.feature {
    display: flex;
    width: 90%;
    margin-left: 5%;
}

.feature iframe {
    display: inline-block;
    width: 45%;
    margin-left: 5%;
}

.feature-picture {
    width: 45%;
    display: inline-block;
}

.feature img {
    width: 100%;
}

a img:hover {
    filter: brightness(0.5);
    transform: translate(-2px, 2px);
    box-shadow: 0px 0px;
}

.card h6 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    color: #dadad1;
    font-family: 'RalewayItalic';
}

.card3 img {
    border-radius: 200px;
    width: 100%;
    margin-bottom: 15px
}

.card4 img, .card6 img {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px
}

.card-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
}

.middle-title-large {
    font-size: 3.5rem;
    line-height: 2.5rem !important;
    font-family: 'Raleway' !important;
    text-align: center !important;
}

.middle-title-medium {
    font-size: 1.5rem;
    line-height: 2.5rem !important;
    font-family: 'RalewayItalic' !important;
    text-align: center !important;
}

.middle-title-medium a {
    color: #475060;
}

.panel hr {
    margin: 25px 10% 25px 0%;
    border-style: dashed;
    border-width: 2px;
    border-color: #ecece9a1;
    z-index: 1;
}

.panel-body hr {
    margin: 0;
    border-width: 1px;
}

.close {
    font-family: 'Patchwork';
    float: right;
    font-size: 0.7rem;
    font-weight: bolder;
    background-color: #ecece9;
    height: 40px;
    width: 40px;
    margin: -2% -4%;
    border-radius: 20px;
    box-shadow: 1px 1px 2px #030303;
}

.close:hover, .close:active {
    cursor: pointer;
    font-size: 0.8rem;
    color: #A30010;
    background-color: #ECECE9;
    box-shadow: 0px 0px;
    transform: translate(2px, 2px);
}

.panel-head {
    font-family: 'Patchwork';
    margin-top: 5px;
    letter-spacing: 0px;
}

.bottom-left, .bottom-right {
    color: #ecece9;
    position: absolute;
    font-size: 1.2rem;
    bottom: 0;
}

.bottom-left {
    width: 60%;
    height: 40px;
    left: 0;
    padding-left: 20px;
    text-align: left;
}

.bottom-right {
    width: 40%;
    height: 56px;
    padding-right: 10px;
    right: 0;
}

.bottom-right img {
    width: 32px;
    height: 32px;
    margin: auto;
    justify-content: center;
}

.bottom-right a {
    float: right;
    background-color: #F56E00;
    border-radius: 32px;
    border: solid black 2px;
    width: 44px;
    height: 44px;
    display: flex;
    box-shadow: -2px -2px 8px inset;
}

.bottom-right a:hover {
    background-color: #FFF30A;
    transform: translate(0px, -2px);
}

.bottom-right a img:hover{
    transform: translate(0px, 0px);
}

.bottom-left a {
    /*color: #ecece9;*/
    color: #192438;
    font-weight: 700;
    display: inline-block;
}

.bottom-left span {
    display: inline-block;
    color: #192438;
}

.bottom-left a:hover {
    color: #F56E00;
    text-decoration: underline;
}


#frame-counter {
    display: inline;
    margin-right: 10px;
}


#loading-bar-container {
    background-color: lightgray;
    margin: 25% 25% 25% 25%;
    height:3rem;
    width:50%;
}

#loading-bar-container p {
    position: absolute;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    height:3rem;
    width:50%;
    vertical-align: top;
    padding: 0.4rem 0rem;
}

#loading-bar-foreground {
    background-color: green;
    height:100%;
    width:0%;
}

.bottom-left, .bottom-right, .panel img, .close {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.middle-title-box {
    border: dotted #FFFCC2 6px;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    padding: 40px 0px 30px 0px;
}

@media all and (max-width: 500px) {
    #loading-bar-container {
        background-color: lightgray;
        margin: 70% 6% 0% 6%;
        width: 88%;
    }

    #loading-bar-container p {
        width: 88%;
    }
}

@media all and (max-width: 700px) {
    .panel {
        padding: 2% 4%;
    }

    .panel-head {
        font-size: 1.2rem;
    }

    .panel-body {
        text-align: justify;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .close {
        font-size: 0.5rem;
        font-weight: bolder;
        height: 30px;
        width: 30px;
    }

    .close:hover, .close:active {
        font-size: 0.5rem;
        color: #A30010;
        transform: translate(1px, 1px);
    }

    .bottom-left {
        font-size: 0.8rem;
        height: 30px;
        padding: 0px 10px;
    }

    .bottom-right {
        height: 42px;
    }

    .bottom-right img {
        width: 22px;
        height: 22px;
    }
    
    .bottom-right a {
        width: 32px;
        height: 32px;
    }

    .middle-title-large {
        font-size: 2.5rem;
        font-family: 'Raleway' !important;
        text-align: center !important; 
        margin-bottom: 20px !important;
    }

    .card-container, .feature {
        display: block;
    }

    .card3, .card4, .card6 {
        width: 100%;
    }

    .feature {
        width: 100%;
        margin: 0;
    }

    .feature-picture {
        width: 100%;
        margin: 0;
    }

    .feature iframe {
        width: 100%;
        margin: 0;
    }

    .middle-title-box {
        border-radius: 20px;
        width: 100%;
        padding: 40px 0px 30px 0px;
    }
}